---
layout: default
title: Categories
permalink: /categories/
---

{% for category in site.categories %}
<div class="category-group">
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h3 class="category-head">{{ category_name }}</h3>
  <ul>
    {% for post in site.categories[category_name] %}
      <li><span>{{ post.date | date: "%B %e, %Y" }}</span><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
</div>
{% endfor %}