---
layout: default
title: Categories
permalink: /categories/
---

<section class="categories">
  {% for category in site.categories %}
  <section class="category">
    {% capture category_name %}{{ category | first }}{% endcapture %}
    <h2>{{ category_name }}</h3>
      <ul>
        {% for post in site.categories[category_name] %}
        <li><time datetime="{{post.date}}">{{ post.date | date: "%B %e, %Y" }}&nbsp;</time><a
            href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
        {% endfor %}
      </ul>
  </section>
  {% endfor %}
</section>