---
layout: default
title: Categories
permalink: /categories/
---

{% for category in site.categories %}
<section>
  {% capture category_name %}{{ category | first }}{% endcapture %}
  <h3 class="category-head">{{ category_name }}</h3>
  <ul>
    {% for post in site.categories[category_name] %}
      <li><time datetime="{{post.date}}">{{ post.date | date: "%B %e, %Y" }}</time><a href="{{ site.baseurl }}{{ post.url }}">{{post.title}}</a></li>
    {% endfor %}
  </ul>
</section>
{% endfor %}