---
layout: microblog
title: "μ-blog"
permalink: /microblog/
---

{% for post in site.posts %}
{% if post.path contains 'microblog' %}
<article class="h-entry microblog">
  <h3 class="p-name"><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <time class="dt-published" datetime="{{ post.date }}">{{ post.date | date: "%B %e, %Y" }}&nbsp;</time>
  <a class="p-author h-card" href="{{ site.url }}{{ site.baseurl }}/about">{{ site.author }}</a>
  <div class="e-content">
    {{post.content}}
  </div>
</article>
{% endif %}
{% endfor %}