@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

html {
	font: 400 14px/1.3 'Merriweather', Georgia, serif;
	letter-spacing: 0.6;
}

body {
	margin-top: 20px;
	max-width: 800px;
	/* uncomment if you want it centered */
	/* display: block; */
	/* margin: auto; */
}

img,
figure,
figcaption {
	max-width: 480px;
}

img {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

pre,
span,
code {
	overflow-x: scroll;
}

blockquote {
	/* text-align: center; */
	font-style: italic;
	font-size: 0.9rem;
}

/* make headings cool 🕶️ */
h1,
h2,
h3,
h4,
h5 {
	text-transform: capitalize;
}

h1:before {
	content: "∵ "
}

h1:after {
	content: " ∵"
}

h2:before {
	content: "⎔ "
}

h3:before {
	content: "⊙ "
}


/* links */
a {
	font-style: italic;
}

/* a:before {
    content: "|"
}

a:after {
    content: "|"
} */


@media (prefers-color-scheme: dark) {

	/* don't burn my eyes please */
	html {
		background: black;
		color: white;
	}

	a {
		color: cornflowerblue;
	}

	a:hover {
		text-decoration: none;
		font-style: italic;
	}

	a:visited {
		color: plum;
	}

}

@media only screen and (max-width: 768px) {
	html {
		font-size: 1.5rem
	}

	body>* {
		/* so that you can tap on stuff with your fat fingers on mobile */
		margin-top: 15px
	}

	body {
		max-width: 100vw;
	}

	img,
	figure,
	figcaption {
		max-width: 90vw;
	}
}
