<footer>
  <a rel="me" href="https://merveilles.town/@kevin"><img src="/assets/images/mastodon.svg" class="icon" alt="Mastodon"></a>

  <a href='https://webring.xxiivv.com/#random' target='_blank'><img src="/assets/images/webring.svg" class="icon" alt="Webring"/></a>

  <a rel="me" href="https://github.com/kevin-nel"><img src="/assets/images/github.svg" class="icon" alt="Github"></a>


  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//">&copy; CC BY-NC-SA 4.0</a>
  <!-- <img src="/assets/images/stickers/bestviewed.gif" alt="" />
  <img src="/assets/images/stickers/bookmark_this_page.gif" alt="" />
  <img src="/assets/images/stickers/internetprivacy.gif" alt="" />
  <img src="/assets/images/stickers/nocookie.gif" alt="" />
  <img src="/assets/images/stickers/vscbutton.gif" alt="" /> -->
</footer>
