<footer>
        <a rel="me" href="https://github.com/kevin-nel" class="icon"><img src="/assets/images/icons/github.svg"
                        class="icon" alt="Github" title="link to my Github page" /></a>

        <a rel="me" href="https://halfdeep.bandcamp.com/" class="icon"><img src="/assets/images/icons/bandcamp.svg"
                        class="icon" alt="Bandcamp" title="link to my music on bandcamp" /></a>

        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//" class="icon"><img
                        src="/assets/images/icons/cc.svg" alt="Creative Commons" title="CC BY-NC-SA 4.0"
                        class="icon"></a>

        <a href="https://merveilles.town/@kevin" class="icon"><img src="/assets/images/icons/mastodon_stock.svg"
                        alt="Mastodon" title="link to my mastodon profile" class="icon"></a>
        <a href="/feed.xml" class="icon"><img src="/assets/images/icons/rss_atom.svg" alt="RSS/Atom feed"
                        title="RSS/Atom feed" class="icon"></a>


</footer>