<footer>
  <a rel="me" href="https://merveilles.town/@kevin"
    ><img src="/assets/images/icons/mastodon.svg" class="icon" alt="Mastodon" title="link to my mastodon profile"
  /></a>

  <a href="https://webring.xxiivv.com/#random" target="_blank"
    ><img src="/assets/images/icons/webring.svg" class="icon" alt="Webring" title="link to the Merveilles webring"
  /></a>

  <a rel="me" href="https://github.com/kevin-nel"
    ><img src="/assets/images/icons/github.svg" class="icon" alt="Github" title="link to my Github page"
  /></a>

  <a rel="me" href="https://halfdeep.bandcamp.com/releases"
    ><img src="/assets/images/icons/bandcamp.svg" class="icon" alt="Bandcamp" title="link to my music on bandcamp"
  /></a>

  <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
    ><img src="/assets/images/icons/cc.svg" alt="Creative Commons" title="CC BY-NC-SA 4.0" class="icon"></a
  >
</footer>
