/* mononoki */
@font-face {
  font-family: "mononoki";
  src: url("../fonts/mononoki-Regular.woff") format("woff"),
    url("../fonts/mononoki-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "mononoki";
  src: url("../fonts/mononoki-Bold.woff") format("woff"),
    url("../fonts/mononoki-Bold.woff2") format("woff2");
  font-weight: bold;
}

@font-face {
  font-family: "mononoki";
  src: url("../fonts/mononoki-Italic.woff") format("woff"),
    url("../fonts/mononoki-Italic.woff2") format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "mononoki";
  src: url("../fonts/mononoki-BoldItalic.woff") format("woff"),
    url("../fonts/mononoki-BoldItalic.woff2") format("woff2");
  font-style: italic;
  font-weight: bold;
}

/* self host google fonts:  https://google-webfonts-helper.herokuapp.com/ */

/* roboto-slab-300 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/roboto-slab-v13-latin-300.woff2") format("woff2"),
    url("../fonts/roboto-slab-v13-latin-300.woff") format("woff");
}

/* roboto-slab-regular - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/roboto-slab-v13-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-slab-v13-latin-regular.woff") format("woff");
}

/* roboto-slab-700 - latin */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-slab-v13-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-slab-v13-latin-700.woff") format("woff");
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-regular.woff") format("woff");
}

/* roboto-italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local(""), url("../fonts/roboto-v20-latin-italic.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-italic.woff") format("woff");
}

/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/roboto-v20-latin-700.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-700.woff") format("woff");
}

/* roboto-700italic - latin */
@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local(""),
    url("../fonts/roboto-v20-latin-700italic.woff2") format("woff2"),
    url("../fonts/roboto-v20-latin-700italic.woff") format("woff");
}
