:root {
  --text-color: #b2b6b9;
  --bg-color: #141414;
  --accent-color: #1b1b1b;
  --alt-text-color: #b2b6b9;
  --selection-color: #b2b6b9;
  --content-width: 1000px;
  --icon-size: 3em;
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: #141414;
    --bg-color: #ececec;
    --accent-color: #d6dce1;
    --alt-text-color: #b2b6b9;
    --selection-color: #141414;
  }
}

::selection {
  background: var(--selection-color);
  color: var(--bg-color);
}

html {
  background: linear-gradient(90deg, var(--bg-color) 15%, transparent 1%) center,
    linear-gradient(var(--bg-color) 15%, transparent 1%) center, var(--accent-color);
  background-size: 20px 20px;
}

/* layout of page */
body {
  max-width: var(--content-width);
  margin: 3em auto;
  display: flex;
  flex-wrap: wrap;
  padding: 3em;
  background-color: var(--bg-color);
  color: var(--text-color);
  font: 16px /1.7 "Roboto Slab", "Georgia", serif;
}

header {
  flex-basis: 100%;
  flex-shrink: 0;
  padding: 2em 0;
}

main {
  flex-basis: 75%;
  padding: 1em;
}

footer {
  flex-basis: 100%;
  flex-shrink: 0;
}

header nav {
  display: flex;
  justify-content: space-between;
}

body > nav {
  flex-basis: content;
  padding-right: 2em;
}

/* general styling */
blockquote,
code,
pre {
  background-color: var(--accent-color);
}

blockquote,
pre {
  padding: 1em;
}

pre,
code {
  font-family: mononoki, "Inconsolata", "Consolas", monospace;
}

blockquote {
  font-style: italic;
  border-left: 1px solid var(--text-color);
}

pre {
  overflow: auto;
}

code {
  padding: 0.1em;
}

table,
th,
td {
  border: 0.1em solid;
  padding: 0.3em;
}

table,
thead,
tbody {
  max-width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
}

ul {
  list-style-type: "- ";
}

nav {
  border-right: 1px solid var(--text-color);
}

nav ul {
  padding-left: 1em;
}

img {
  max-width: 90%;
  display: block;
  margin: 1em auto;
  object-fit: scale-down;
}

figcaption {
  text-align: center;
  font-style: italic;
}

hr {
  color: var(--text-color);
  border-width: 0.5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: italic;
  font-variant-caps: small-caps;
  font-weight: bold;
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: underline;
  font-weight: bold;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

a > img:not(.icon) {
  /*images surrounded by links will usually be dithered with a link to full quality img */
  image-rendering: crisp-edges;
}

a:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
  text-decoration: none;
}

a:hover > img.icon {
  filter: invert(1);
  filter: brightness(0.1);
}

.post-info {
  margin: 0 0;
}

article {
  max-width: calc(0.8 * var(--content-width));
}

footer {
  margin: 1em 0px;
}

footer > * {
  display: inline-block;
}

.icon {
  display: inline;
  vertical-align: middle;
  width: var(--icon-size);
}

header > h1 {
  display: inline;
}

@media only screen and (max-width: 800px) {
  nav ul li {
    display: inline-block;
  }
  body {
    display: block;
    padding: 0;
    padding-left: 1em;
  }
  nav {
    border: none;
  }
  html {
    background: initial;
  }
}
