<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ site.url }}{{ site.baseurl }}/assets/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ site.url }}{{ site.baseurl }}/assets/css/style.css">
    <title>{{ page.title }}</title>
</head>

<body>
  <header>{% include navigation.html %}</header>
  <main>
    <h1 class="page-title">{{ page.title }}</h1>
    <span>{{ post.date | date: "%B %e, %Y" }}</span>
    <div class="post-categories">
        {% if post %}
          {% assign categories = post.categories %}
        {% else %}
          {% assign categories = page.categories %}
        {% endif %}
        {% for category in categories %}
        <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
    </div>
    <div class="content">
        {{content}}  
    </div>
  </main>
</body>

</html>