---
layout: default
---

<article class="h-entry">
  <h1 class="p-name">{{ page.title }}</h1>
  <p>
    Author:&nbsp;<a class="p-author h-card" href="http://kevinnel.com/about">Kevin Nel</a>
  </p>
  <p align="right"">
    <time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}&nbsp;</time>
    <a href="{{post_url}}" class="u-url">Share this post</a>
  </p>
  <p>
    Categories:&nbsp;
    {% for category in page.categories %}
      <a class="p-category" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </p>
  <h2>{{ page.title }}</h2>
  <div class="e-content">
    {{ content }}
  </div>
</article>
