---
layout: default
---

<article class="h-entry">
  <h1 class="p-name">{{ page.title }}</h1>
  <p align="right" class="post-info">
    Author:&nbsp;<a class="p-author h-card" href="http://kevinnel.com/about">Kevin Nel</a>
  </p>
  <p align="right" class="post-info">
    <time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}&nbsp;</time>
    <a href="{{post_url}}" class="u-url">Share this post</a>
  </p>
  <p align="right" class="post-info">
    Categories:&nbsp;
    {% for category in page.categories %}
      <a class="p-category" href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>
      {% unless forloop.last %}&nbsp;{% endunless %}
    {% endfor %}
  </p>
  <div class="e-content">
    {{ content }}
  </div>
  <h3>backlinks</h3>
  {% assign home = site.html_pages | where: 'url', '/' | first %}
  {% if page.url != home.url %}
    {% if page.showbacklinks == true %}
        {% if page.backlinks.size > 0 %}
            <div class="backlink-box">
                <ul>
                {% for backlink in page.backlinks %}
                    <li><a href="{{ site.url }}{{ backlink.url }}">{{ backlink.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endif %}
{% endif %}
</article>
